################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/smartapi-dotnet/FileContentIndex/7c975a0c-6eaa-4217-911b-776059480205.vsidx
/.vs/slnx.sqlite
/.vs/smartapi-dotnet
/.vs/VSWorkspaceState.json
/AngelBroking/.vs/AngelBroking/FileContentIndex
